.name-logo-section {
  text-align: center;
  height: 80px;

  img {
    border-radius: 50%;
  }
}

ul > li > a {
  cursor: pointer;
  text-decoration: none;
  color: #a4a6b3;
}

.nav-item {
  display: flex;
}
