.tasks {
  width: 100%;
}

.add-task-input {
  height: 36px;
  width: 300px;
}

.task-checkbox {
  height: 32px;
}

.task-label {
  font-size: 24px;
}

.completed {
  text-decoration: line-through;
}
