.topbar {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.user-name {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-align: right;
}

.profile-picture {
  border-radius: 50%;
}
